# Build output
**/bin/
**/obj/

# Publish output
publish/bin/
publish/HyprWin.App.exe
publish/HyprWin.Core.pdb

# Installer output
installer/

# User settings
*.user
*.suo
*.userprefs

# IDE
.vs/
.vscode/

# NuGet
packages/
*.nupkg

# Logs
*.log

# OS
Thumbs.db
.DS_Store
